@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore|Open+Sans');
@import 'https://fonts.googleapis.com/css?family=Raleway:100,600';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300';


:root{
 --brightYellow:#E3B505;
 --darkBrown:#BB9457;
 --yellow:rgb(242, 180, 80); 
 --brown:#382923;
 --black:#191919;
 --grey:#A9B2AC;
}

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.50)),url('../img/bodyBcg.jpeg');
  color: var(--black);
}
/* global styles */
.bell-fonts{
  font-family: 'La Belle Aurore', cursive;
}
/* section paddin */
.section-padding{
  padding: 3rem 0;
}
/* grid container */
.grid-container{
  max-width: 90vw;
  margin: 2rem auto;
  display:grid;
  grid-row-gap: 2rem;
}
@media screen and (min-width:768px){
  .grid-container--medium-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4rem;
  }
  .grid-container{
  max-width: 75vw;
}
}
/* section */
.section-title{
  padding: 1rem 0.5rem;
}
.section-title--left{
  margin-left: 10rem;
}
.section-title__name{
  font-size: 3rem;
  text-transform: capitalize;
}
.section-title__underline{
  background: var(--yellow);
  width: 5rem;
  height: 0.25rem;
}
.section-title__text{
  letter-spacing: 0.1rem;
  line-height: 1.5;
  margin-top: 1rem;
  color: var(--grey);
}

/* end of global styles */

/* preloader */

.preloader{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--brightYellow);
  z-index: 999;
  display: grid;
  justify-content: center;
  align-items: center;
}



/* header */
.header{
  height: 100vh;
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (max-width:768px){
  .header{
    background: url('../img/headerBcg.jpeg')center/cover fixed no-repeat;
    /* background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; */
  }
}
/* banner  */

.banner{
  text-align: center;
  z-index: 3;
}
.banner__title{
  font-size: 4rem; 

  text-transform: capitalize;
  color: var(--brightYellow)
}
@media screen and (min-width:768px){
  .banner__title{
    font-size: 9rem;

  }
}
.banner__social-icon{
  display: block;
  text-decoration: none;
  color: var(--black);
  border:0.1rem solid var(--black);
  border-radius: 50%;
  padding: 0.25rem;
  transition: all 0.5s linear;
}
.banner__social-icon:hover{
  background: var(--brightYellow);
  color: var(--black);
}
.banner__icons{
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4,2rem);
  grid-column-gap: 0.5rem;
  justify-content: center;
}
/* video */
.video__container{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.video__item{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* nav Btn */
.navBtn{
  position: fixed;
  top: 5%;
  right: 5%;
  font-size: 3.5rem;
  color: var(--yellow);
  cursor: pointer;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
/* nav btn animation */
@keyframes pulse{
  0%{
    transform: scale(1)
  }
  50%{
transform: scale(1.5)
  }
  100%{
transform: scale(1)
  }
}
/* nav */
.nav{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  /* width: 10rem; */
  background: rgba(242,180,80,0.6);
  z-index: 3;
}
.nav__links{
  list-style-type: none;
}
.nav__single-link
{
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--brown);
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  transition: all 0.5s ease-in-out;
}
.nav__single-link:hover{
  background: var(--brown);
  color: rgba(242,180,80,0.9);
  padding-left: 1.5rem;
}
.nav__logo:hover{
  background: var(--grey);
}

/*  */
.nav{
  width: 0;
  overflow: hidden;
  transition: all 0.5s linear;
}
.nav--show{
  width: 10rem;
}



/* video switch */
.video__switch-container{
  display: none;
}
@media screen and (min-width:768px){
  .video__switch-container{
    display: block;
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 3;
  }
  .video__switch{
    position: relative;
    width: 5rem;
    background: var(--yellow);
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;
    cursor: pointer;
    border-radius: 0.5rem;
  }
  .video__switch-btn{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: var(--brown);
    border-radius: 0.5rem;
    transition: all 0.3s ease-out;
  }
  .btnSlide{
    left: 50%;
  }
}
/* about  */
.about-container{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  grid-gap: 2rem;
}

.about__img-item{
  width: 100%;
  display: block;
  height: 100%;
  border-radius: 0.25rem;
}
@media screen and (min-width:768px){
  .about__img-special{
    order: -1;
  }
  .about-container{
    grid-template-rows: 1fr 1fr;
  }
}
/* team section */
h1,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
  text-transform: none;
  color: rgba(254, 82, 76, 1);
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.5;
}
h2{
 margin : 0 20px 20px 0;
 font-weight: 300;
  
  letter-spacing: 60px;
  line-height: 5;
  color: rgba(242, 180, 80);
  text-align: center;
  
}

 

   


a:link,
a:active,
a:visited{
  color:rgba(255,255,255,1);
}

a:hover{
  color:rgba(255,255,255,0.6);
}

.gray {
  color: #a5a5a5;
}

.team{
 padding: 20px 15px 30px;
 background: white;
 border-radius: 15px;
 text-align: center;
}
.team .pic{
  display: inline-block;
  width: 100%;
  height: 100%;
  background: white;
  padding: 10px;
  margin-bottom: 25px;
  transition: all 0.5s ease 0s;
}
.team:hover .pic{
 background: #d3a715;
 border-radius: 50%;
}
.pic img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.team .title{
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: chocolate;
  text-transform: uppercase;
  margin: 0 0 7px 0;
}
.team .post{
  display: block;
  font-size: 15px;
  color : rgba(242,180,80,0.6);
  margin-bottom: 15px;

}
.team.social{
  padding: 0;
  margin: 0;
  list-style: none;
}
.team.social li a{
  background:chocolate;
  color:white;

}
.team.social li a{
  display: inline-block;
  margin-right:  5px;
    
}

.team-member {
  margin: 15px 10px;
  padding: 10;
}

.team-member figure {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 50%;
}

.team-member figure img {
  min-width: 100%;
}

.team-member figcaption p {
  font-size: 16px;
}

.team-member figcaption ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.team-member figcaption ul {
  visibility: visible;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.team-member figcaption ul li {
  display: inline-block;
  padding: 10px;
}

.team-member h2 {
  margin: 10px 0 0;
  padding: 0;
}
.Row
{
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
}
.Column
{
    display: inline-flex;   
}
.grid-container {
  display: grid;
  grid-template-columns: 2 2 2 2;
}

.team-member figcaption {
  padding: 50px;
  color: transparent;
  background-color: transparent;
  position: absolute;
  z-index: 996;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.team-member figure:hover figcaption {
  visibility: visible;
  color: #fff;
  background: rgba(230, 78, 62, 0.9);
  /* Primary color, can be changed via colors.css */
  
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.team-member figure:hover figcaption ul li a:hover {
  color: rgba(49, 49, 49, .97);
}

.team-member figure img {
  -webkit-transform: scale(1) rotate(0) translateY(0);
  -moz-transform: scale(1) rotate(0) translateY(0);
  -o-transform: scale(1) rotate(0) translateY(0);
  -ms-transform: scale(1) rotate(0) translateY(0);
  transform: scale(1) rotate(0) translateY(0);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.team-member figure:hover img {
  -webkit-transform: scale(1.1) rotate(1deg) translateY(12px);
  -moz-transform: scale(1.1) rotate(1deg) translateY(12px);
  -o-transform: scale(1.1) rotate(1deg) translateY(12px);
  -ms-transform: scale(1.1) rotate(1deg) translateY(12px);
  transform: scale(1.1) rotate(1deg) translateY(12px);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
 





/* work section */
.work-container{
  max-width: 90vw;
  margin:2rem auto;
}
.work-item__img{
  width: 100%;
  height: 100%;
  display: block;
 transition: all 1s linear;
 opacity: 1;
}

.work-item{
  background: linear-gradient(var(--yellow),var(--yellow));
  overflow: hidden;
  position: relative;
}
.work-item:hover .work-item__img{
  opacity:0.5; 
  transform: scale(1.2)
}
.work-item__icon{
  position: absolute;
  color: var(--brightYellow);
  top: 50%;
  left: 50%;
  display: inline-block;
  font-size: 4rem;
  text-decoration: none;
  transition: all 0.5s ease;
  transform: scale(0);
}
.work-item:hover .work-item__icon{
  transform: scale(1.3) translate(-50%,-50%)
}
.work-item__icon:hover{
  color: var(--brown);
  cursor: pointer;
}
@media screen and (min-width:576px){
  .work-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}
@media screen and (min-width:992px){
.work-container{
  height: 100vh;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);
  grid-template-areas: 
  "one one two three"
  "one one four four"
  "five six seven seven"
  "eight nine seven seven"
}
.item-1{
  grid-area: one;
}
.item-2{
  grid-area: two;
}
.item-3{
  grid-area: three;
}
.item-4{
  grid-area: four;
}
.item-5{
  grid-area: five;
}
.item-6{
  grid-area: six;
}
.item-7{
  grid-area: seven;
}
.item-8{
  grid-area: eight;
}
.item-9{
  grid-area: nine;
}

}
/* modal */

.work-modal{
  display: none;
}

.work-modal--show{
  position: fixed;
  background: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-items: center;
}
.work-modal__item{
  background: url('../img/work-1.jpeg')center/cover;
  height: 70vh;
  width: 80vw;
  border:0.5rem solid var(--yellow);
  border-radius: 0.4rem;
}
@media screen and (min-width:768px){
  .work-modal__item{
    height: 80vh;
    width: 60vw;
  }
}
.work-modal__close{
  position: fixed;
  font-size: 3rem;
  color: var(--brightYellow);
  bottom: 5%;
  right: 5%;
  transition: color 0.5s linear;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
.work-modal__close:hover{
  color: red;
}













/* contact section */
.contact-container{
  max-width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-row-gap: 1rem;
}
.contact-info{
  display: grid;
  justify-content: center;
}
.contact-item{
  margin: 1rem 0;
  padding: 0.5rem;
}
.contact-item__icon{
  font-size: 3rem;
  color: var(--yellow)
}
.contact-item__title{
  text-transform: uppercase;
  margin: 0.5rem 0;
  letter-spacing: 0.25rem;
  font-style: italic;
}
.contact-item__text{
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--grey);
}
@media screen and (min-width:768px){
  .contact-info{
    grid-template-columns: repeat(3, 1fr);
    order:-1;
  }
}
@media screen and (min-width:992px){
  .contact-info{
    grid-template-columns: 1fr;
    order:0;
  }
  .contact-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 2rem
  }
  .contact-map{
    align-self: center;
  }
}
  
 

 
